@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: rgb(0, 0, 255);
}

[data-theme="dark"] {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --primary: rgb(255, 0, 98);
}

[data-theme="aqua"] {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: rgb(71 172 154);
  --background-end-rgb: rgb(71 172 154);
  --primary: rgb(6, 255, 222);
}
